CodeEurope.sln.DotSettings.user
.vs/
CodeEurope.Publisher/obj/
packages/
CodeEurope.Publisher/bin/
CodeEurope.Functions/Properties/PublishProfiles/
solution/CodeEurope.Publisher/bin/
solution/CodeEurope.Publisher/obj/
